@charset "UTF-8";
.header{
height: 0vh;
}
.header-content-wrapper{
padding: 0 24px;
height: 30vh;
}
#nav-drawer{
	top: auto;
}
#nav-open span,#nav-open span:before,#nav-open span:after{
	background-color: #F7F7F7;
}
.label .n,.label .another{
	color: #F7F7F7;
}

.contents-rectangle {
	display: none;
}

@media(min-width:1060px) {
	.header-content-wrapper{
			padding: 0 50px;}

			}
		
.section-top {

	z-index: -1;
}


.section-top__image-container1 {
	width: 100%;
	height: 30vh;
}

.section-top__image-container2 {
	width: 100%;
	height: 15vh;
}

.section-top__image-1,
.section-top__image-2,
.section-top__image-3,
.section-top__image-4 {
	width: 100%;
	height: 100%;
	background-size: cover;
}

.section-top__image-1 {
	background-image: url("../img/00top/utuwa08.jpg");
	background-position: 50% 40%;
}

.section-top__image-2 {
	background-image: url("../img/00top/utuwa_blue.JPG");
	background-position: 50% 40%;	
}

.section-top__image-3 {
	background-image: url("../img/00top/utuwa08.jpg");
	background-position: 50% 55%;
}

.section-top__image-4 {
	background-image: url("../img/00top/utuwa_blue.JPG");
	background-position: 50% 60%;	
}

.loop03__box {
	overflow: hidden;
	display: flex;
	width: 100vw;
	margin-inline: calc(50% - 50vw);
}

.loop03__item {
	/*flex: 0 0 auto;*/
	flex-shrink: 0;
	white-space: nowrap;
	color: #212427;
	opacity: .8;
	line-height: 2em;
	padding: 5px 25px;
	font-size: 1.0rem;

	/*--tick-duration・--tick-delayの変数に値がある場合は変数の値が優先させる*/
	&:nth-child(odd) {
		.loop03__box:not(.no-tick) & {
			animation: MoveLeft var(--tick-duration, 90s) var(--tick-delay, -45s) infinite linear;
		}
	}

	&:nth-child(even) {
		.loop03__box:not(.no-tick) & {
			animation: MoveLeft2 var(--tick-duration, 45s) infinite linear;
		}
	}
}


.loop03__item:nth-child(odd) {
	animation: loop 90s -45s linear infinite;
	/*24秒かけて-12秒後に無限ループさせる*/
}

.loop03__item:nth-child(even) {
	animation: loop2 90s linear infinite;
	/*24秒かけて無限ループさせる*/
}

@keyframes loop {
	from {
		transform: translateX(100%);
	}

	to {
		transform: translateX(-100%);
	}
}

@keyframes loop2 {
	from {
		transform: translateX(0);
	}

	to {
		transform: translateX(-200%);
	}
}




@media(min-width:1060px) {

	.text-container {
		width: 100%;
	}
	.loop03__item {
		padding:10px 25px;
		font-size: 2.0rem;
	}
}

.footer {
	display: none;
}