@charset "UTF-8";


@media(min-width:1060px) {
	#nav-open{
		top: -65px;
	}
	
}
.contents-rectangle {
	display: none;
}

.section-top {
	margin: 40px 0 160px 0;
	position: relative;
}

.section-top__image {
	width: 100%;
	height: 100px;
}

.section-top__image-1,
.section-top__image-2,
.section-top__image-3,
.section-top__image-4 {
	width: 100%;
	height: 100%;
	background-color: black;
	background-position: center;
	background-size: cover;
}

.section-top__image-1 {
	background-image: url("../img/00top/utuwa_blue.JPG");
	
}

.section-top__image-2 {
	background-image: url("../img/00top/melancholy02.JPG");
}

.section-top__image-3 {
	background-image: url("../img/00top/hidamari01.JPG");
}

.section-top__image-4 {
	background-image: url("../img/00top/utuwaskyorange.jpg");
}

.loop03__box {
	overflow: hidden;
	display: flex;
	width: 100vw;
	padding-top: 10px;
	padding-bottom: 10px;
	margin-inline: calc(50% - 50vw);
}

.loop03__item {
	/*flex: 0 0 auto;*/
	flex-shrink: 0;
	white-space: nowrap;
	padding-right: 25px;
	padding-left: 25px;
	color: #212427;
	line-height: 2em;

	/*--tick-duration・--tick-delayの変数に値がある場合は変数の値が優先させる*/
	&:nth-child(odd) {
		.loop03__box:not(.no-tick) & {
			animation: MoveLeft var(--tick-duration, 90s) var(--tick-delay, -45s) infinite linear;
		}
	}

	&:nth-child(even) {
		.loop03__box:not(.no-tick) & {
			animation: MoveLeft2 var(--tick-duration, 45s) infinite linear;
		}
	}
}


.loop03__item:nth-child(odd) {
	animation: loop 90s -45s linear infinite;
	/*24秒かけて-12秒後に無限ループさせる*/
}

.loop03__item:nth-child(even) {
	animation: loop2 90s linear infinite;
	/*24秒かけて無限ループさせる*/
}

@keyframes loop {
	from {
		transform: translateX(100%);
	}

	to {
		transform: translateX(-100%);
	}
}

@keyframes loop2 {
	from {
		transform: translateX(0);
	}

	to {
		transform: translateX(-200%);
	}
}

.section-top__name h1 {
	font-size: 4.0rem;
	font-weight: 600;
	line-height: 1.5em;
	/* 116.667% */
	position: relative;
	top: -30px;
	letter-spacing: 10px;
	color: #212427;
}


@media(min-width:1060px) {
	.section-top {
	margin: 80px 0 160px 0;
}
.section-top__image {
	height: 200px;
}

	.section-top__name h1 {
		font-size: 13rem;
		font-weight: 400;
		line-height: 1em;
		/* 116.667% */
		position: relative;
		top: -30px;
		letter-spacing: 10px;
	}
}

.section-top__name {
	width: 25%;
	height: 25%;
}

.text1 {
	position: absolute;
	bottom: 460px;
	right: 0;
	max-width: 80px;
	height: auto;
}


.text2 {
	position: absolute;
	bottom: 12px;
	right: 0;
	max-width: 80px;
	height: auto;

}

.text3 {
	position: absolute;
	bottom: 460px;
	left: 0;
	max-width: 80px;
	height: auto;
}

.text4 {
	position: absolute;
	bottom: 12px;
	left: 0;
	max-width: 80px;
	height: auto;
}

@media(min-width:1060px) {
	.text-container{
width: 100%;


	}
	.text1 {
		position: absolute;
		bottom: 380px;
		left: 60%;
		width:  110px;
		height: auto;
	}


	.text2 {
		position: absolute;
		bottom: 250px;
		left: 40%;
		width:  110px;
		height: auto;
	}

	.text3 {
		position: absolute;
		bottom: 120px;
		left: 60%;
		width:  110px;
		height: auto;
	}

	.text4 {
		position: absolute;
		bottom: -10px;
		left: 40%;
		width:  110px;
		height: auto;
	}

}