@charset "UTF-8";
/* CSS Document */
html {
  font-size: 62.5%; /* 16px * 62.5% = 10px */
  width: 100%; 
}
body {
  color: #333; /* RGB */
  font-family:Shippori Mincho;
  font-weight: 500;
  font-size: 1.6em;
  line-height: 2.4rem;
  text-align: center;
	background-color: #f7f2ea;
}


.header{
  height: 80px;
  width: 100%;	
  }
  .header-content-wrapper{
  margin: 0;
  padding: 0 24px;
  display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .header-content-wrapper.label{
  height: 72px;
  left: 24px;
  top:0;
  width: 240px;
  }
  
  .label .nakahara-nami{
  color: transparent;
  left: 0;
  text-align: left;
  top: 0;
  width: 112px;
  }
  
  .label .n{
  color:#009dbf;
  display: inline-block;
  width: 6%;
  }
  .label .another{
  color:#000000;
  }
  
  .header-content-wrapper .contents-rectangle{
  background-color: #d9d9d9;
  height: 80px;
    left: 0;
    top: 0;
    width: 120px;
  position: relative;}
  
  .header-content-wrapper .contents-text{
  top: 48px;
  width: 120px;
  text-align: center;
  position: absolute;
  }
  
  .header-content-wrapper .hamburger{
  height: 20px;
  right: 20px;
  left: 0px;
  position:relative;
  top: 50%;
  width: 32px;
  }
  
  .line-1,.line-2,.line-3{
    width: 34px; 
    height: 0px; 
    left: 0px; 
    position: absolute; 
    border: 1px black solid;
  }
  .line-1{
  top: 20px;	
  }
  .line-2{
  top:10px;
  }
  .line-3{
  top: 0px;
  }
  .footer-content-wrapper{
    text-align: right;
    padding: 0 48px;
    margin: 40px 0;
  }
  