@charset "UTF-8";

.main {
	max-width: 1208px;
	/*1160+pad24+24*/
	margin: 0 auto;
}

#nav-open {
	top: -144px;
}

.section-contact__name {
	padding: 0 24px;
	margin: 80px auto;
}

.section-contact__name-text {
	/*327px+24+24=375px*/
	margin: 0 auto 40px auto;
	text-align:left;
	width: 100%;
	line-height: 2;
}

.section-contact__name p {
	padding: 20px 0 20px 0;
	line-height: 1.5em;
}



/*画面サイズ1060以上での指定*/
@media (min-width: 760px) {
	.section-contact__name {
		
		align-items: center;
		margin: 100px 0;
		justify-content: space-between;
	}

	.section-contact__name-text {
		width: 100%;
		margin: 0px;
		display: flex;
	}

	.section-contact__name-text h2 {
		font-size: 2.0rem;
		line-height: 2;
		text-wrap: nowrap;
	}

	.section-contact__name p {
		font-size: 2.0rem;
		line-height: 1.8em;
		margin: 0 auto;
		padding:0 0 80px 0;
		}
	}


/*お問い合わせフォームを使う場合
.inquiry-form{
	padding: 50px 24px 60px;
	text-align: left;
  }
  .inquiry-form p{
	margin-bottom: 40px;
  }
  .inquiry-form input[type="text"],.inquiry-form input[type="email"],.inquiry-form select,.inquiry-form input textarea {
	display: block;
	width: 100%;
	height: 40px;
	padding: 0 10px;
	border: solid 1px #777;
	border-style: none;
	font-family: "Shippori Mincho";
  }

  #form_inquiry-detail{
	display: block;
	width: 100%;
	height: 40px;
	padding: 10px 10px 0;
	border: solid 1px #777;
	height: 300px;
	border-style: none;
	font-family: "Shippori Mincho";
  }
  .inquiry-form textarea{
	height: 300px;
  }
  .inquiry-form p label{
	font-weight: 600;
	font-size: 2.0rem;
	display: block;
	margin-bottom: 20px;
  }
  
  
  .inquiry-form p label.small-label{
	display: inline-block;
	font-weight: 500;
	font-size: 1.6rem;
	padding-left: 30px;
  }
  .form_inquiry-privacy-link{
	color: #333;
  }
  .inquiry-form__submit{
	display: block;
	height: 48px;
	max-width: 320px;
	width: 100%;
	background-color: #009DBF;
	color: #f7f7f7;
	font-size: 2.4rem;
	margin: 0 auto;
	border-style: none;
	font-family: "Shippori Mincho";
}

  @media(min-width:760px){
  .inquiry-form{
	padding: 120px 24px;
	max-width: 1160px;
	margin: 0 auto;
  }
  .inquiry-form p label{
	display: inline-block;
	width: 264px;
	vertical-align: top;
	font-weight: 600;
  }
 
  .inquiry-form input[type="text"],.inquiry-form input[type="email"],.inquiry-form select,.inquiry-form textarea {
	display: inline-block;
	
  }
  .inquiry-form textarea{
	width: 600px;
	height: 450px;
  }

  .inquiry-form__privacy{
	margin-left: 260px;
  }
  .inquiry-form__submit{
	margin:0 auto;

  }
  }
  .inquiry-form_wrapper{
	text-wrap: nowrap;
  }
*/
  .asterisk{
	color: #B93434;
	font-weight: 600;
  }

  .container {
    position: relative;
    width: 100%;
    overflow: hidden;
    padding-top: 100%;
  }
  .responsive-iframe {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    width: 100%;
    height: 100%;
    border: none;
  }