@charset "UTF-8";

.main {
	max-width: 1208px;
	/*1160+pad24+24*/
	margin: 0 auto;
}

.section-works1__top {
	padding: 0 24px;
	margin: 80px auto 120px auto;

}

.section-works1__title {
	width: 100%;
	margin: 0 auto;
	margin-bottom: 40px;
	text-align: left;
	flex-wrap: wrap;
}

.section-works1__title h1 {
	font-size: 2.2rem;
	line-height: 2em;

}

.section-works1__title p {
	padding-top: 20px;
	line-height: 1.5em;
}

.section-works1__image-body {
	width: 100%;
	height: 100%;
	margin: 0 auto;
}

.section-works1__image {
	display: block;
	width: 100%;
	height: 100%;
	object-fit: cover;
	object-position: 0% 0%;
	max-width: 500px;
	margin: 0 auto;
}



/*画面サイズ1060以上での指定*/
@media (min-width: 1060px) {
	.section-works1__top {
		display: flex;
		justify-content: center;
		padding: 0 150px;
		align-items: center;


	}

	.section-works1__title {
		width: 50%;
		margin: 0;
		display: block;

	}
	.section-works1__title p {
		padding-top: 20px;
		line-height: 1.8em;
	}
	.section-works1__image-body {
		width: 50%;
		height: 100%;
		border-left: 1px solid #212427;
		margin: 0;
	}

	.section-works1__image {
		width: 80%;
		margin: 0 auto;
		display: block;
	}


}



.section-works1__poem {
	text-align: left;
	padding: 40px 24px 40px 24px;
	border-top: 2px dotted #030303;
	border-bottom: 2px dotted #030303;
	margin: 0 auto 120px auto;
	width: 80%;
}

.section-works1__poem p {
	line-height: 1.5em;
}

/*画面サイズ1060以上での指定*/
@media (min-width: 1060px) {
	.section-works1__poem {
		border: none;
		-ms-writing-mode: tb-rl;
		/* IE対応 */
		writing-mode: vertical-rl;
		text-orientation: upright;
		/* すべて縦方向に表示　英数字も縦に表示するなら upright、和文も横に表示するなら sideways を指定 */
		padding: 40px 0;
		width: auto;
	}
	.section-works1__poem p {
		line-height: 1.8em;
	}
}

.img-frame {
	position: relative;
	width: 100%;
	height:500px;
	overflow: hidden;
	margin: 80px auto;
}

.img-01,
.img-02,
.img-03,
.img-04{
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-size: cover;
	background-repeat: no-repeat;
	background-position: 0% 0%;
	display: block;
}

.img-01 {
	background-image: url('photo/04hidamari/hidamari01.JPG');
	animation: slide-animation-01 48s infinite;
}

.img-02 {
	background-image: url('photo/04hidamari/hidamari02.JPG');
	animation: slide-animation-02 48s infinite;}

.img-03 {
		background-image: url('photo/04hidamari/hidamari01.JPG');
		animation: slide-animation-01 48s infinite;
	}
	
.img-04 {
		background-image: url('photo/04hidamari/hidamari02.JPG');
		animation: slide-animation-02 48s infinite;
}


@keyframes slide-animation-01 {
	0% {
		opacity: 1;
		transform: scale(1.0);
	}

	30% {
		opacity: 1;
	}

	40% {
		opacity: 0;
		transform: scale(1.15);
	}

	90% {
		opacity: 0
	}

	100% {
		opacity: 1;
		transform: scale(1.0);
	}
}

@keyframes slide-animation-02 {
	0% {
		opacity: 0;
	}

	30% {
		opacity: 0;
		transform: scale(1.1);
	}

	40% {
		opacity: 1;
	}

	60% {
		opacity: 1;
	}

	70% {
		opacity: 0;
		transform: scale(1.0);
	}

	100% {
		opacity: 0;
	}
}

@keyframes slide-animation-03 {
	0% {
		opacity: 0;
	}

	60% {
		opacity: 0;
		transform: scale(1.0);
	}

	70% {
		opacity: 1;
	}

	90% {
		opacity: 1;
	}

	100% {
		opacity: 0;
		transform: scale(1.1);
	}
}
@media (min-width: 1060px) {
	.img-frame {
		height:800px;
		width: 100%;
	}
}

.back-to-works {
	position: relative;
	display: flex;
	text-align: right;
	margin-bottom: 80px;
}

.back-to-works__text {
	position: absolute;
	right: 0px;
	padding-right: 24px;
	text-decoration: none;
	color: #212427;
}

.back-to-works__line {
	position: absolute;
	right: 124px;
	top: 10px;
}


@media (min-width: 1060px) {
	.back-to-works__text {
		padding-right: 50px;
	}

	.back-to-works__line {
		right: 150px;
	}
}