@charset "UTF-8";
/* CSS Document */
html {
  font-size: 62.5%; /* 16px * 62.5% = 10px */
  width: 100%;
  box-sizing: border-box;
}
body {
  color: #695269; /* RGB */
  font-family:
    "SF Pro JP",
    "SF Pro Text",
    "SF Pro Icons",
    "Hiragino Kaku Gothic Pro",
    "ヒラギノ角ゴ Pro W3",
    "Helvetica Neue",
    "Helvetica",
    "Arial",
    sans-serif;
  font-weight: 500;
  font-size: 1.6em;
  line-height: 2.4rem;
  text-align: center;
}
section h2 {
  font-size: 2.4rem;
}
a:hover {
  opacity: 0.5;
}
.none {
  display: none;
}

.nav-drawer__menu__text, .footer small {
  font-family: "Linux Libertine Capitals", "Times New Roman", Times, serif;
}

.button {
  border: 1px solid #695269;
  display: block;
  margin: 80px auto;
  padding: 15px 20px;
  max-width: 250px;
  position: relative;
}
.button p {
  font-size: 1.8rem;
  font-weight: 600;
}
.section-top__button {
  border: 1px solid #695269;
  display: block;
  margin: 80px auto;
  padding: 15px 20px;
  max-width: 250px;
  position: relative;
}
.section-top__button p {
  font-size: 1.8rem;
  font-weight: 600;
}

.triangle-right {
  border-style: solid;
  border-width: 5px 0 5px 5px;
  border-color: transparent transparent transparent #695269;
  display: inline-block;
  width: 0;
  height: 0;
  /* 矢印アイコンの位置を設定 */
  position: absolute;
  top: 90%;
  right: 2px;
  transform: translateY(-50%)
    rotate(45deg); /* rotate(45deg)で矢印を回転（向きを変更）させる */
}

.section-top__triangle-right {
  border-style: solid;
  border-width: 5px 0 5px 5px;
  border-color: transparent transparent transparent #695269;
  display: inline-block;
  width: 0;
  height: 0;
  /* 矢印アイコンの位置を設定 */
  position: absolute;
  top: 90%;
  right: 2px;
  transform: translateY(-50%)
    rotate(45deg); /* rotate(45deg)で矢印を回転（向きを変更）させる */
}
