---
url: /showcase/flower-wave-sleep_illustration/
hidelink: true
order: 670
category: 
indeximage: /assets/jc-illustration-flower-wave-sleep-1000px.jpg
indextitle: 溶けておやすみ
metas:
  title: Flower Wave Sleep
  description: Illustration of a sleeping girl with flowers and waves
  image: /assets/jc-illustration-flower-wave-sleep-1000px.jpg
tags:
  - illustration
---
