---
url: /showcase/flower-wave-sleep_illustration/
hidelink: true
order: 660
category: study
indeximage: /assets/jc-illustration-flower-wave-sleep-1000px.jpg
indextitle: 花波眠り
metas:
  title: Moon Swing
  description: Illustration of a sleeping girl with flowers and waves
  image: /assets/jc-illustration-flower-wave-sleep-1000px.jpg
tags:
  - illustration
---
