---
url: /showcase/hachijojima-sunset_watercolor/
hidelink: true
order: 900
category: hobby
indeximage: /assets/suisai2.JPG
indextitle: 夕陽の八丈小島
metas: 
  title: 夕陽の八丈小島
  description: 「夕陽の八丈小島」を描いてみました
  image: /assets/suisai2.JPG
---
