---
url: /showcase/lavender-broach_illustration/
hidelink: true
order: 640
category: 
indeximage: /assets/jc-illustration-lavender-broach-1000px.jpg
indextitle: お菓子のパッケージ
metas:
  title: Lavender Broach
  description: Illustration of a lavender broach
  image: /assets/jc-illustration-lavender-broach-1000px.jpg
tags:
  - illustration
---
