---
url: /showcase/maru-cutout_illustration/
hidelink: true
order: 630
category: study
indeximage: /assets/jc-illustration-maru-cutout-1000px.png
indextitle: まる カットアウト
metas:
  title: Maru Cutout
  description: Illustration of a shiba inu dog, Maru, in a cutout style
  image: /assets/jc-illustration-maru-cutout-1000px.png
tags:
  - illustration
---
