---
url: /showcase/miss-frost_illustration/
hidelink: true
order: 610
category: 
indeximage: /assets/jc-illustration-miss-frost-1000px.png
indextitle: 渦
metas:
  title: Miss Frost
  description: Illustration of Ms Frost
  image: /assets/jc-illustration-miss-frost-1000px.png
tags:
  - illustration
---
