---
url: /showcase/moon-swing_illustration/
hidelink: true
order: 650
category: study
indeximage: /assets/jc-illustration-moon-swing-1000px.jpg
indextitle: ムーンスウィング
metas:
  title: Moon Swing
  description: Illustration of a girl on a moon swing under the night sky
  image: /assets/jc-illustration-moon-swing-1000px.jpg
tags:
  - illustration
---
