---
url: /showcase/moon-swing_illustration/
hidelink: true
order: 660
category: 自主制作
indeximage: /assets/jc-illustration-moon-swing-1000px.jpg
indextitle: Fly me to the moon.
metas:
  title: Moon Swing
  description: Illustration of a girl on a moon swing under the night sky
  image: /assets/jc-illustration-moon-swing-1000px.jpg
tags:
  - illustration
---
