---
url: /showcase/sea-turtle_painting/
hidelink: true
order: 800
category: hobby
indeximage: /index_assets/uminohi.JPG
indextitle: かめとこども
metas: 
  title: かめとこども
  description: 海の日ポスターコンクール2024応募作品『かめとこども』
  image: /index_assets/uminohi.JPG
---
