---
url: /showcase/sea-turtle_painting/
hidelink: true
order: 800
category: hobby
indeximage: /assets/uminohi.jpg
indextitle: かめとこども
metas:
  title: かめとこども
  description: 海の日ポスターコンクール2024応募作品『かめとこども』
  image: /assets/uminohi.jpg
tags:
  - art
  - color-pencil
---
