---
url: /showcase/valentines-day_illustration/
hidelink: true
order: 670
category: study
indeximage: /assets/jc-illustration-valentines-day-1000px.jpg
indextitle: バレンタインデー
metas:
  title: Valentine's Day
  description: Illustration of a girl with black wings and a heart tattoo
  image: /assets/jc-illustration-valentines-day-1000px.jpg
tags:
  - illustration
---
