---
url: /showcase/youtube-gadget_flyer/
hidelink: true
order: 400
category: classwork
indeximage: /assets/youtube.jpg
indextitle: YouTube Gadget サムネイル
metas: 
  title: YouTube Gadget サムネイル
  description: YouTube Gadget サムネイル
  image: /assets/youtube.jpg
---

asdf
